block header
  header
    h1 Angle Co
    nav
      ul
        li
          a(href="/") Home
        li
          a(href="/startups") Startups
        li
          a(href="/investors") Investors
        li
          a(href="/people") People
