nav#main
  ul
    li
      a(href="/",class="current") Home

    li
      a(href="/startups") Startups

    li
      a(href="/investors") Investors

    li.last
      a(href="/talents") Talents


nav#sub
  ul
    li
      a(href="/login",class="button") Login

    li.last
      a(href="/register", class="button") Register
