!!! 5
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Invokr - Premium Landing Page Template
    //
       Styles 
    link(rel='stylesheet', href='/css/style.css', media='screen')
    //
       Scripts 
    //-script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    //if lt IE 10
      //-link(rel='stylesheet', href='css/ie.css', media='screen')
      //-script(src='../assets/js/selectivizr-min.js')
  body 
    //-add the header
    block header
      include includes/header
    block content
    //-add the footer here
    block footer
      include includes/footer

