extends base

block content

  - if (everyauth.loggedIn)
      span Hi, #{everyauth.twitter.user.name}
      br
      a(href="/logout") Logout
  - else
      a(href= "/auth/twitter") Login with twitter

  form(action='/api/startups', method='post')
    input(type="hidden", name="csrf", value="#{csrf}")
    p Title :  
    input(type="text",name="title")
    p Description : 
    input(type="text", name="description")
    input(type="submit",value="Submit")

  section
    article
      h3 Startup 1
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula odio, tristique a posuere feugiat, tincid
    article
      h3 Startup 2
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula odio, tristique a posuere feugiat, tincid
