extends base

block content
  section
    article
      h3 Startup 1
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula odio, tristique a posuere feugiat, tincid
    article
      h3 Startup 2
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula odio, tristique a posuere feugiat, tincid
