extends base

block content

  #content
    include topcontent

    section#startups

      section#col
        article#startup
          img.center-img(src='./img/branchout.jpg', alt='branchout')
          div
            h4.center-img umbrella
            p some random information about inmobi sksf dkdf 
      section#col
        article#startup
          img.center-img(src='./img/uber.gif', alt='uber')
          div
            p some random information about inmobi sksf dkdf 
      section#col
        article#startup
          img.center-img(src='./img/duckduckgo.png', alt='duckduckgo')
          div
            p some random information about inmobi sksf dkdf 
      section#col
        article#startup
          img.center-img(src='./img/branchout.jpg', alt='BranchOut')
          div
            p some random information about inmobi sksf dkd

  section#startups
    - var startuplist = JSON.parse(startups)
    - var imglist = ["./img/branchout.jpg", "./img/uber.gif","./img/duckduckgo.png","./img/branchout.jpg"]
    - var columns = 4
    - var index = 0

    - for startup in startuplist
      article#startup
        h3= startup.title
        p= startup.description
