section#top-content
  article#search
      div
        span Over 1000 startups   --- Connect with investors --- Hire Talent
        input#searchbox(type='text', placeholder='Search for startup')
        #adv-search.hide
          h2 Do some advance search
          fieldset
            ul.group
              li
                label(for='name') Your name:
                input#name(type='text', placeholder='Enter your name')
              li
                label(for='email') E-mail address:
                input#email(type='text', placeholder='Enter your e-mail address')
              li
                label(for='ph') Phone:
                input#ph(type='text', placeholder='Add your phone number')
              li
                label(for='website') Website address:
                input#website(type='text', placeholder='Enter your website')
              li
                label(for='message') Any questions?
                textarea#message(name='message', cols='30', rows='5')
            input(type='submit', value='Register')
  section#helper
    article
      img(src='./img/space.png', alt='Share your space')
      p Share your location for work
    article
      img(src='./img/campfire.png', alt='CampFire Events')
      p CampFire events
    article
      img(src='./img/todo.png', alt='Todos')
      p Faqs for startups
    article.last
      img(src='./img/hand.png', alt='Helping hand')
      p Get a helping hand

section#startups
  section#col-1
    article#startup
      img.center-img(src='./img/branchout.jpg', alt='BranchOut')
      div
        h4.center-img Umbrella
        p some random information about inmobi sksf dkdf 
  section#col-2
    article#startup
      img.center-img(src='./img/uber.gif', alt='uber')
      div
        p some random information about inmobi sksf dkdf 
  section#col-3
    article#startup
      img.center-img(src='./img/duckduckgo.png', alt='duckduckgo')
      div
        p some random information about inmobi sksf dkdf 
  section#col-4
    article#startup
      img.center-img(src='./img/branchout.jpg', alt='BranchOut')
      div
        p some random information about inmobi sksf dkdf 
